# envs
.env

# utils
test*.py
/tests/
parser*.py
/reference/

# paths created MeowTool
/Logs/
/Proxy/
/Roblox/
/Settings/Configs/
/Settings/Translations/
/Versions/

# caches
__pycache__/
*.pyc

# trash
.vscode/
*.log
notepad.txt