# beta
.beta/
native/
*.whl
*.dll

# envs
.env
.venv/

# docs
docs/

# bats
run.bat

# paths and files created MeowTool
/Logs/
/Proxy/
/Roblox/
/Settings/Configs/
/Settings/Themes/
/Settings/Fonts/
/Settings/Translations/
/Versions/

# tests
/tests/
*.db

# trash
.vscode/
__pycache__/
*cache
*.py[cod]
*.log

build/
dist/

notepad.txt
