# envs
.env

# paths and files created MeowTool
/Logs/
/Proxy/
/Roblox/
/Settings/Configs/
/Settings/Translations/
/Versions/
*.db

# caches
__pycache__/
*.pyc
*cache

# tests
/tests/

# trash
.vscode/
*.log
notepad.txt